*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}


.navbar-nav{
    margin-left: auto;
}
.dropdown-menu{
    background-color: #212529;;
    color: #fff;
}
.dropdown-menu > li > a{
    color: #fff;
}
nav > a{
    text-decoration: none;
    color: #000;
    transition: all ease-in-out 400ms;
}
nav > a > i{
    font-size: 1.6em;
}
nav > a:hover{
    color: rgb(37, 221, 160);
}


.side-menu{
    position: fixed;
    transition: all ease-in-out 600ms;
    background-color: #fff;
    height: 100%;
}

#sideMenuBtn{
    text-decoration: none;
    color: #fff;
}
#sideMenuBtn i{
    font-size: 1.6em;
}
#dahsboard{
    transition: all ease-in-out 1000ms;
}
