*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
.banner{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/29/21/16/nurse-2019420__340.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


button{
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: white;
    transition: all ease-in-out 400ms;
}
a:hover{
    text-decoration: none;
    color: rgb(37, 221, 160);
}
#aptBtn{
    background-color: rgb(37, 221, 160);
    border-radius: 0;
    border: none;
    transition: all ease-in-out 400ms;
}
#aptBtn:hover{
    background-color: rgb(16, 172, 120);
}
.homeNavbar{
   position: absolute;
   right: 0;
}
h3 i{
    font-size: 0.6em;
    color: rgb(37, 221, 160);
}
.services i{
    color: rgb(37, 221, 160);
}
.presentation{
    background-color: rgb(228, 250, 243);
    line-height: 20px;
}
.oh-box{
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgb(182, 172, 172);

}
.contact-box {
    height: 100%;
    background-color: rgb(37, 221, 160);
    color: #fff;
    box-shadow: 2px 2px 5px rgb(182, 172, 172);
}
.contact-box hr{
    background-color: #fff;
    
}
.benefits i, h5{
    color: rgb(37, 221, 160);
}

.newsLetter{
    background-color: rgb(37, 221, 160);
    color: #fff;
}
.blue-line{
    height: 3px;
    width: 200px;
    background-color: rgb(37, 221, 160);
}